<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-s-6">
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: {class: "well"}) do |f| %>
      <%= devise_error_messages! %>
      
      <legend>Edit Profile</legend>

      <div class="field">
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder: "name@email.com" %>
      </div>

      <div class="field">
        <%= f.text_field :location, placeholder: "Chapel Hill, NC" %>
      </div>

      <div class="field">
        <%= f.text_field :twitter, placeholder: "http://www.twitter.com/username" %>
      </div>

      <div class="field">
        <%= f.text_field :facebook, placeholder: "http://www.facebook.com/username" %>
      </div>

      <div class="field">
        <%= f.text_field :instagram, placeholder: "http://www.instagram.com/username" %>
      </div>

      <div class="field">
        <%= f.text_field :tumblr, placeholder: "http://usernmame.tumblr.com" %>
      </div>

      <div class="field">
        <%= f.text_area :bio, placeholder: "Tell us about yourself!" %>
      </div>

      <div class="field">
        <%= f.text_area :interests, placeholder: "What are you interested in?" %>
      </div>

      <div class="field">
      <i>Please upload an image that is 300 x 300 pixels</i>
      <%= f.file_field :avatar %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter your current password to save your changes!" %>
      </div>

      <legend>Change your Password</legend>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Leave blank if you don't want to change!" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
