<div class="container-fluid">
	<div class="profile"><h1><%= @user.username %></h1></div>
	<div class="row">
        <div class="col-xs-12 col-sm-6 avatar">
        	<% if @user.avatar? == true %>
                <%= image_tag(@user.avatar_url, class: "img-responsive") %>
            <% else %>
                <%= image_tag("gllry.png", class: "img-responsive") %>
            <% end %>
        </div>
        <div class="col-xs-12 col-sm-6 bio">
        	<p><strong>Name: </strong><%= @user.first_name %> <%= @user.last_name.first %></p>
            <p><strong>Location: </strong><%= @user.location %></p>
        	<p><strong>About: </strong><%= @user.bio %></p>
            <p><strong>Interests: </strong><%= @user.interests %></p>

            <p><strong>Contact:</strong></p>
            <ul class="list-inline contact-links">
                <li><%= link_to image_tag('twitter.png'), @user.twitter if @user.twitter? %></li>
                <li><%= link_to image_tag('facebook.png'), @user.facebook if @user.facebook? %></li>
                <li><%= link_to image_tag('instagram.png'), @user.instagram if @user.instagram? %></li>
                <li><%= link_to image_tag('tumblr.png'), @user.tumblr if @user.tumblr? %></li>
            </ul>
        </div>
    </div>

    <div class="header">
    	<h1><%= @user.username %>'s Gallery</h1>
        <div class="col-xs-12">
        	<!-- Thumbnails here -->
        </div>
	</div>


</div>
