<div class="container-fluid">
	<div class="profile"><h1><%= @user.username %></h1></div>
	<div class="row">
        <div class="col-xs-12 col-sm-6 avatar">
        	<%= image_tag(@user.avatar_url, class: "img-responsive") if @user.avatar? %>
        </div>
        <div class="col-xs-12 col-sm-6 bio">
        	<p><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name.first %></p>
        	<p><strong>About: </strong><%= @user.bio %></p>
        </div>
    </div>

    <div class="header">
    	<h1><%= @user.username %>'s Gallery</h1>
        <div class="col-xs-12">
        	<!-- Thumbnails here -->
        </div>
	</div>

</div>