<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @picture.notes %>
</p>

<p>
  <strong>Category:</strong>
  <%= @picture.category_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user_id %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
