<div class="container-fluid image">
  <%= image_tag(@picture.image_url, class: "img-responsive") %>
</div>


<div class="container-fluid description">
	<h1><%= @picture.title %></h1>
  	
  	<h4>by <%= @picture.user.username %></h4>
	
	<p class="notes"><%= @picture.notes %></p>

	<strong>Category:</strong>
  	<%= @picture.category.name %>
</div>


<div class="links">
	<% if @picture.user_id == current_user.id %>
		<%= link_to 'Edit', edit_picture_path(@picture) %> | <%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %> |
		<%= link_to 'Back', pictures_path %>
	<% else %>
		<%= link_to 'Back', pictures_path %>
	<% end %>
</div>
